textarea {
  /* box-sizing: padding-box; */
  overflow: hidden;
  /* demo only: */
  /* padding: 10px; */
  width: 100%;
  /* font-size: 14px; */
  /* margin: 50px auto; */
  display: block;
  background-color: transparent;
  /* transition: 0.15s ease ; */
}

textarea:focus{
    outline: none;
    border: 2px solid #4527A0;
    border-radius: 10px;
    padding: 5px 10px;
    
}